@model DataLayer.Models.Category

@{
    ViewBag.Title = "جزییات دسته بندی";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>مدیریت دسته بندی ها</h2>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> جزییات دسته بندی <span style="color:darkred"> @Model.PersianName </span>  </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">گزینه 1</a>
                            </li>
                            <li>
                                <a href="#">گزینه 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        @*<h4>HubSYS Software Application 2016-2017</h4>
                            <hr />*@
                        <dl class="dl-horizontal">
                            @*<dt>
                                @Html.DisplayNameFor(model => model.Parent.PersianName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Parent.PersianName)
                            </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.PersianName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PersianName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EnglishName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EnglishName)
                            </dd>

                            @*<dt>
                                @Html.DisplayNameFor(model => model.Icon)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Icon)
                            </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.SmallImage)
                            </dt>

                            <dd>
                                <img src="@Model.SmallImage" class="customized_panel_table img-circle" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LargeImage)
                            </dt>

                            <dd>
                                <img src="@Model.LargeImage" class="customized_panel_table img-circle" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BackgroundProImage)
                            </dt>

                            <dd>
                                <img src="@Model.BackgroundProImage" class="customized_panel_table img-circle" />
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-md" }) |
                        @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-default btn-md" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>