@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas{
    <meta name="description" content="کلینیک شنوایی و سمعک شکوه تجریش ارائه دهنده خدمات خرید سمعک ، تجویز سمعک داخل گوشی ، دیجیتال ، نامرئی ، پشت گوشی با گارانتی بین المللی و آزمایشات شنوایی است .">
    <link rel="canonical" href="@string.Format("{0}{1}", "http://tajrish-samak.ir", Request.Path)">
    <meta name="Keywords" content="تجویز سمعک">
    <meta property="og:title" content="تجویز سمعک" />
    @*<meta property="og:url" content="@facebook" />*@
    <meta property="og:image" content="http://tajrish-samak.ir/images/logo_purple.png" />
    <meta name="twitter:image" content="تجویز سمعک">
    <meta name="twitter:description" content="کلینیک شنوایی و سمعک شکوه تجریش ارائه دهنده خدمات خرید سمعک ، تجویز سمعک داخل گوشی ، دیجیتال ، نامرئی ، پشت گوشی با گارانتی بین المللی و آزمایشات شنوایی است .">
    @*<meta name="twitter:site" content="@twitter">*@
    <meta property="og:description" content="کلینیک شنوایی و سمعک شکوه تجریش ارائه دهنده خدمات خرید سمعک ، تجویز سمعک داخل گوشی ، دیجیتال ، نامرئی ، پشت گوشی با گارانتی بین المللی و آزمایشات شنوایی است .">
}

@section Styles{
    <style>
        p {
            text-align: justify !important;
        }
    </style>
    <!--Google jSON_LD Structure Data Region-->
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "name": "کلینیک شنوایی و سمعک شکوه تجریش",
        "description": "کلینیک شنوایی و سمعک شکوه تجریش ارائه دهنده خدمات خرید سمعک ، تجویز سمعک داخل گوشی ، دیجیتال ، نامرئی ، پشت گوشی با گارانتی بین المللی و آزمایشات شنوایی است .",
        "logo": "http://tajrish-samak.ir/images/logo_purple.png",
        "url": "http://www.tajrish-samak.ir",
        "sameAs": [ "https://www.instagram.com/tajrishsamak/",
        "https://www.telegram.me/tajrish_samak/"],
        "address": "تهران - میدان تجریش - خیابان شهرداری - رو به روی سینما آستارا - پلاک ۲۲۴ - ساختمان ۱۱۰ (ورودی قائم)",
        "contactPoint": [{
        "@@type": "ContactPoint",
        "telephone": ["+98-21-22735588"],
        "contactType": "customer service"
        }]
        }
    </script>
    <!--Google jSON_LD Structure Data Region-->
}

<!-- banner-2 -->
@*<div class="page-head_agile_info_w3l">

    </div>*@
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">صفحه اصلی</a>
                    <i>|</i>
                </li>
                <li>درباره ما</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- contact page -->
<div class="contact-w3l">
    <div class="container">
        <div class="">
            <div class="container">
                <!-- tittle heading -->
                <div class="text-center">
                    <h1 class="tittle-w3l text-center">
                        درباره ما
                        <span class="heading-style">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                    </h1>
                </div>
                <!-- //tittle heading -->
                <div class="w3l-welcome-text">
                    <p>
                        کلینیک شنوایی و سمعک تجریش در سال 1381 به همت بانوی ادیولوژیست ، شکوه روحی تاسیس شد . ایشان فارغ التحصیل رشته شنوایی شناسی در دانشگاه علوم پزشکی ایران بودند که متاسفانه در سال 1391 پس از تحمل یک دوره بیماری سخت و طولانی به رحمت ایزدی پیوستند . شخصیت ، متانت و دانش نامبرده و البته اعمال خیر ایشان هنوز که هنوز است زبانزد خاص و عام است . یاد و خاطره ایشان تا همیشه باقی میماند .

                        با تغییر نام کلینیک به کلینیک شنوایی و سمعک شکوه تجریش این مرکز پس از درگذشت نامبرده کمافی السابق با همان اصول اولیه که ایشان مدنظرشان بود بر اساس دقت ، احترام و خیرخواهی برای مراجعان خود به کار خود ادامه میدهد . امیدواریم بتوانیم با حسن انجام فعالیت های خود یاد آن بانوی نیکوکار را گرامی داشته و رضایت مراجعین خود را فراهم سازیم .
                    </p>
                </div>
            </div>
        </div>
        <!-- //welcome -->
        <!-- video -->
        <div class="about">
            <div class="container">
                <!-- tittle heading -->
                <h3 class="tittle-w3l">
                    مشاهده ویدیو
                    <span class="heading-style">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </h3>
                <!-- //tittle heading -->
                <div class="about-tp">
                    <div class="col-md-8 about-agileits-w3layouts-left">
                        <div id="33019492101">
                            <script type="text/JavaScript" src="https://www.aparat.com/embed/AgYDf?data[rnddiv]=33019492101&data[responsive]=yes"></script>
                        </div>
                    </div>
                    <div class="col-md-4 about-agileits-w3layouts-right">
                        <div class="img-video-about">
                            <img src="~/images/pransa_logo_web.png" title="کلینیک شنوایی و سمعک شکوه تجریش ، آزمایشات شنوایی و تجویز سمعک" alt="کلینیک شنوایی و سمعک شکوه تجریش ، آزمایشات شنوایی و تجویز سمعک" width="200">
                        </div>
                        <h4>کلینیک شنوایی و سمعک شکوه تجریش</h4>
                        <p id="un">ارائه انواع آزمایشات شنوایی و تجویز سمعک</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //video-->
        <!-- //about page -->
    </div>
</div>


@if (TempData["Error"] != null)
{
        <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="margin-top:80px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">وضعیت پیام</h4>
                </div>
                <div class="modal-body" style="text-align:center;direction:rtl;">
                    <p class="text-danger">@TempData["Error"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["Success"] != null)
{
        <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="margin-top:80px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">وضعیت پیام</h4>
                </div>
                <div class="modal-body" style="text-align:center;direction:rtl;">
                    <p class="text-success">@TempData["Success"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>
}



