@model DataLayer.ViewModels.PagerViewModel.PagerViewModels<DataLayer.Models.Order>
@using MvcPager
@{
    ViewBag.Title = "لیست سفارشات";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>مدیریت سفارشات</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>لیست سفارشات</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">گزینه 1</a>
                            </li>
                            <li>
                                <a href="#">گزینه 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="ibox-content table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        وضعیت کاربری
                                    </th>
                                    <th>
                                        نوع سفارش
                                    </th>
                                    <th>
                                        نحوه پرداخت
                                    </th>
                                    <th>
                                        وضعیت سفارش
                                    </th>
                                    <th>
                                        پرداخت هزینه
                                    </th>
                                    <th>
                                        تاریخ
                                    </th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.data)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        @if (item.UserId == null)
                                        {
                                            <td>مهمان</td>
                                        }
                                        else
                                        {
                                            <td>عضو</td>
                                        }
                                        <td>
                                            @item.getType
                                        </td>
                                        <td>
                                            @item.getPaymentType
                                        </td>
                                        <td>
                                            @if (item.Done == true)
                                            {
                                                <span>انجام شده</span>
                                            }
                                            else
                                            {
                                                <span>تکمیل نشده</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Transactions.Count() > 0)
                                            {
                                                <span>انجام شده</span>
                                            }
                                            else
                                            {
                                                <span>انجام نشده</span>
                                            }
                                        </td>
                                        <td>
                                            @GladCherryShopping.Helpers.FunctionsHelper.GetPersianDateTime(item.OrderDate, true, true)
                                        </td>
                                        <td>
                                            @if (item.Transactions.Count > 0)
                                            {
                                                @Html.ActionLink("تراکنش", "Transaction", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) <span>|</span>
                                            }
                                            @Html.ActionLink("جزییات", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-6" style="direction: ltr">
                                <ul class="pagination pagination-sm">
                                    <li>@Html.Pager(10, Model.CurrentPage, Model.TotalItemCount)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (TempData["Success"] != null)
{
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>پیام</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">گزینه 1</a>
                                </li>
                                <li>
                                    <a href="#">گزینه 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="alert alert-success">
                                @TempData["Success"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
