@model DataLayer.ViewModels.PagerViewModel.PagerViewModels<DataLayer.Models.Slider>
@using MvcPager
@{
    ViewBag.Title = "لیست اسلایدر ها";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>مدیریت اسلایدر ها</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>لیست اسلایدر ها</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">گزینه 1</a>
                            </li>
                            <li>
                                <a href="#">گزینه 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <h4> &nbsp; &nbsp; افزودن اسلایدر جدید &nbsp; &nbsp; <a class="btn btn-success" href="/Administrator/Sliders/Create"> <span style="font-weight:bold;font-size:18px" class="glyphicon glyphicon-plus"></span> افزودن اسلایدر &nbsp;</a></h4>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    تصویر
                                </th>
                                <th>
                                    لینک
                                </th>
                                <th>
                                    آخرین به روز رسانی
                                </th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.data)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        <img src="@item.Image" width="200" />
                                    </td>
                                    <td>
                                        @item.Link
                                    </td>
                                    <td>
                                        @if (item.LastDate != null)
                                        {
                                            @GladCherryShopping.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)item.LastDate, true, true)
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                                        @Html.ActionLink("به روز رسانی", "UpdateMe", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) |
                                        @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6" style="direction: ltr">
                            <ul class="pagination pagination-sm">
                                <li>@Html.Pager(10, Model.CurrentPage, Model.TotalItemCount)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (TempData["Success"] != null)
{
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>پیام</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">گزینه 1</a>
                                </li>
                                <li>
                                    <a href="#">گزینه 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="alert alert-success">
                                @TempData["Success"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>پیام</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">گزینه 1</a>
                                </li>
                                <li>
                                    <a href="#">گزینه 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="alert alert-danger">
                                @TempData["Error"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}