@model DataLayer.Models.Transaction

@{
    ViewBag.Title = "جزئیات تراکنش";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>جزئیات تراکنش</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acceptor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acceptor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcceptorPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcceptorPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptorPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptorPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @GladCherryShopping.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)Model.Date, true, true).ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetOperationResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecievedDocumentDate)
        </dt>
        <dd>
            @GladCherryShopping.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)Model.RecievedDocumentDate, true, true).ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecievedDocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecievedDocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminalNumber)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("بازگشت به لیست سفارشات", "Index", null, new { @class = "btn btn-default" })
</p>


